@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

body {
    background-image: url(../img.jpeg);
    color: var.$color-primary;
}
img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
