body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}


/* NAVBAR */

.navbar-logo {
    height: 50px;
}

.brainster {
    font-size: 13px;
}
/* BANNER */
.bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 482px) {
    .bg-image{
        height: 250px;
    }
  }
  
/* FILTERS */

.cards-menu:not(:last-child) {
    border-bottom: 0;
    border-right: 1px solid #6c757d;
}

@media (min-width: 768px) {
    .cards-menu:not(:last-child) {
        border-bottom: 1px solid #6c757d;
        border-right: 0;
        text-align: center;
    }
}

.filtering-btn i {
    visibility: hidden;
  }
  
  .filters button:focus i {
    visibility: visible;
  }
  .filters button:focus {
    background-color: #eb3b3b;
    color: #302f38;
  }
  
  .filters button:hover {
    background-color: #eb3b3b;
    color: #302f38;
  }

  
/* CARDS */
.card {
    width: 30%;
    border: 1px solid gray;
    display: inline-block;
    padding: 10px;
}
.coding {
    background-color: lightseagreen;
}
.design {
    background-color: lightpink;
}
.marketing {
    background-color: lightskyblue;
}