.slider {
    width: 100%;
    overflow: hidden;
    background-color: #EDD5BB;
  }
  
  .slider .top,
  .slider .bottom {
    display: flex;
    gap: 25px;
    margin: 38px 0;
  }
  .slider .top:hover,
  .slider .bottom:hover {
    animation-play-state: paused;
  }
  .slider {
    .top {
        margin: 38px 0;
    }
    .bottom {
        margin: 38px 0;
    }
}
  .slider .top {
    animation: slide 35s infinite linear;
  }
  
  .slider .bottom {
    animation: slide 35s infinite linear reverse;
  }
  
  .slider .top img,
  .slider .bottom img {
    height: 153px;
    transition: transform 0.15s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .slider .top img:hover,
  .slider .bottom img:hover {
    transform: scale(1.05);
  }
  
  @keyframes slide {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0px);
    }
  }


  .slide {
    animation: slideToLeft 0.5s forwards;
  }
  
  @keyframes slideToLeft {
    0% {
      transform: translateX(1000px);
    }
    100% {
      transform: translateX(0px);
    }
  }